
                </div>
            </div>
        </div>
    </div>
</div><!-- /#wrapper -->

<!-- JQuery -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<!-- Plugins -->

<script src="/javascripts/jquery.validate.min.js"></script>
<!-- Bootstrap -->
<script src="/javascripts/bootstrap.min.js"></script>
<!--custom js -->
<script src="/javascripts/custom.js"></script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>