<% include partials/header.ejs %>

            <h1>About This Site</h1>
            <p class="blurb"><%= message %></p>
            <p class="small">Using this site consents to the collection of data for analytical/security purposes.</p>
<% include partials/footer.ejs %>