<% include partials/header.ejs %>

            <h1><%= message %></h1>
            <p class="blurb">This app allows you to see all the local paintball arenas in Ontario!</p>
            <p class="blurb">This app is still in development</p>

<% include partials/footer.ejs %>