<% include partials/header.ejs %>

            <h1><%= message %></h1>
            <p class="blurb">This app allows you to see local paintball arenas in Ontario!</p>

<% include partials/footer.ejs %>